<div class="block">
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Logs</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.log.activity_id", :default => t("activerecord.labels.activity_id", :default => "Activity_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @logs.each do |log| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= log.id %>
          </td>
                    <td>
            <%= link_to log.activity_id, log_path(log) %>
          </td>
                    <td>
            <%= log.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", log_path(log) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_log_path(log) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", log_path(log), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @logs  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
