  <div class="group">
    <%= f.label :activity_id, t("activerecord.attributes.log.activity_id", :default => "Activity"), :class => :label %>
    <%= f.autocomplete_field :activity_description, autocomplete_activity_description_logs_path, :class => 'text_field' %>
    <span class="description">Ex: Strolling the ocean</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), logs_path, :class => "text_button_padding link_button" %>
</div>
