<div class="block">
  <%= render :partial => 'navigation/secondary', :locals => {:mode => 'my_logs'} %>
  <div class="content">          
    <h2 class="title">My Logs</h2>
    <div class="inner">
    <% if @requested_today %>
      <p class="date_selector">
        <%= link_to image_tag("resultset_previous.png"), logs_path(:date => @requested_date.yesterday) %> 
        Today
      </p>
    <% else %>
      <p class="date_selector">
        <%= link_to image_tag("resultset_previous.png"), logs_path(:date => @requested_date.yesterday) %> 
        <%= @requested_date %> 
        <%= link_to image_tag("resultset_next.png"), logs_path(:date => @requested_date.tomorrow) %>
        <%= link_to image_tag("resultset_last.png"), logs_path %>
      </p>
    <% end %>
    <%= render :partial => 'logs', :locals => {:mode => 'my_logs'} %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
