<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", logs_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_log_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", log_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.log.activity_description", :default => t("activerecord.labels.activity_id", :default => "Activity")) %>:</b>
          <%= @log.activity_description %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.log.user_id", :default => t("activerecord.labels.user_id", :default => "User")) %>:</b>
          <%= @log.user_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_log_path(@log), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), log_path(@log), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
